/* general styling */
hr {
    background:white;
}

img {
    max-height: 200px;
    max-width: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 100px;
    background-color: #2c3531;
}

.bg-infoo {
    background-color: #D9B08c;
}

.text-infoo {
    color: #D9B08c;
}

.btn-infoo{
    background-color: #D9B08c;
}

.bg-darkk {
    background-color: black;
}

.bg-secondaryy {
    background-color: #D1E8E2;
}

.text-custom {
    color: black;
}

/* navbar */
.navbar {
    box-shadow: 0px 2px 5px #D1E8E2;
}

.navbar-logo {
    margin: 10px;
}

/* homepage carousel */

.carousel {
    box-shadow: 0 0 5px 2px #D1E8E2;
    margin-top: 50px;
}

.carousel .carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    .carousel .carousel-item {
        height: 500px;
    }
    .carousel-item img {
        min-height: 500px;
    }
}

/* products page */
.cues-heading{
    padding: 2rem;
}

.shafts-heading {
    padding: 2rem;
    box-shadow: 0 0 5px 2px black;
    border-radius: 5px;
}

.product-heading {
    box-shadow: 0 0 5px 2px #D9B08c;
    border-radius: 5px;
}

/* repairs table */
.repair-price {
    text-align: right;
}

.repairs-table-body {
    color: white;
}

/* contact form */
.contact-form {
    background:rgba(0,0,0,.6);
    color:#D9B08c;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 5px 2px grey;
}

.form-group {
    margin-top: 10px;
}

.contact-form-button {
    margin-top: 10px;
}

.contact-icon {
    size: 20px;
}

/* footer */

footer i {
    position: relative;
    bottom: 11px;
}
