/* general styling */
hr {
    background:white;
}

img {
    max-height: 200px;
    max-width: auto;
}

/* navbar */
.navbar {
    box-shadow: 0px 2px 5px #777;
}

.navbar-logo {
    margin: 10px;
}

/* homepage carousel */

.carousel {
    box-shadow: 0 0 5px 2px #0dcaf0;
    margin-top: 50px;
}

.carousel .carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 300px;
}

@media screen and (min-width: 768px) {
    .carousel .carousel-item {
        height: 500px;
    }
    .carousel-item img {
        min-height: 500px;
    }
}

/* repairs table */
.repair-price {
    text-align: right;
}

/* contact form */
.contact-form {
    background:rgba(0,0,0,.6);
    color:#0dcaf0;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0 0 5px 2px grey;
}

.form-group {
    margin-top: 10px;
}

.contact-form-button {
    margin-top: 10px;
}

.contact-icon {
    size: 20px;
}

/* footer */

footer i {
    position: relative;
    bottom: 11px;
}
