{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap" rel="stylesheet">
    <!-- own CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'webpage/style.css' %}">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="{% static 'webpage/media/logo.png'%}"/>
    {% if title %}
    <title>Sure Custom Cues - {{ title }}</title>
    {% else %}
    <title>Sure Custom Cues</title>
    {% endif %}
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-md bg-infoo navbar-light text-custom">
        <div class="container">
            <a href="{% url 'sure-home' %}" class="navbar-brand"><img src="{% static 'webpage/media/logo.png'%}"
                    alt="logo" class="rounded-circle mb-3 navbar-logo">SURE CUSTOM CUES</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navigation navbar-nav ms-auto" id="nav">
                    <li class="nav-item">
                        <a href="{% url 'sure-home' %}" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sure-products' %}" class="nav-link">PRODUCTS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sure-repairs' %}" class="nav-link">REPAIRS</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sure-about' %}" class="nav-link">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'sure-contact' %}" class="nav-link">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock content %}
    </div>
    <!-- FOOTER -->
    <footer class="p-3 bg-infoo text-center fixed-bottom">
        <div class="container">
            <p class="lead">
                &copy; 2021 Sure Custom Cues
                <a href="https://www.instagram.com/surecustomcues/" target="_blank"><i class="bi bi-instagram h5"></i></a>
                <a href="https://www.facebook.com/SureCustomCues/" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCfg0u0HJyt2nBWNYqOqiirQ" target="_blank"><i class="bi bi-youtube"></i></a>
            </p>

            <a href="#" class="position-absolute bottom-0 end-0 p-3 text-dark">
                <i class="bi bi-arrow-up-square h1"></i>
            </a>
        </div>
    </footer>
    <!-- EXTERNAL SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="{% static 'webpage/scripts/navbar.js'%}"></script>        
</body>

</html>